<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel = 'import' href='../../bower_components/polymer/polymer.html'>
<link rel = "import" href = "../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel = "import" href = "../../bower_components/paper-item/paper-item.html">
<link rel = "import" href = "../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/web-animations-next/web-animations.html">
<link rel="import" href="../../bower_components/web-animations-js/web-animations.html">


<dom-module id="test-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>


      <h3>Paper-Dropdown-Menu Example </h3>
      <paper-dropdown-menu>
         <paper-listbox class = "dropdown-content" selected = "1">
            <paper-item>Java Tutorial</paper-item>
            <paper-item>C Tutorial</paper-item>
            <paper-item>PHP Tutorial</paper-item>
            <paper-item>C++ Tutorial</paper-item>
         </paper-listbox>
      </paper-dropdown-menu>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TestApp extends Polymer.Element {
      static get is() { return 'test-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'test-app'
          }
        };
      }
    }

    window.customElements.define(TestApp.is, TestApp);
  </script>
</dom-module>
